In [2]:
if None:
    print 'poob'

In [3]:
import pandas as pd
import numpy as np

In [4]:
x = np.array([1,2,3,4])
y = np.zeros(4)
z = np.ones(4)
w = np.array([4,3,2,1])
X = pd.DataFrame({'a':x, 'b': y, 'c':z})

In [5]:
W = 'd'

In [6]:
X[W] = w

In [7]:
X

   a    b    c  d
0  1  0.0  1.0  4
1  2  0.0  1.0  3
2  3  0.0  1.0  2
3  4  0.0  1.0  1

In [8]:
list(xrange(5))

[0, 1, 2, 3, 4]

In [9]:
np.array(xrange(5))

array([0, 1, 2, 3, 4])