In [2]:
if None:
    print 'poob'

In [3]:
import pandas as pd
import numpy as np

In [16]:
x = np.array([1,2,3,4])
y = np.zeros(4)
z = np.ones(4)
w = np.array([4,3,2,1])
X = pd.DataFrame({'a':x, 'b': y, 'c':z})

In [5]:
W = 'd'

In [6]:
X[W] = w

In [7]:
X

   a    b    c  d
0  1  0.0  1.0  4
1  2  0.0  1.0  3
2  3  0.0  1.0  2
3  4  0.0  1.0  1

In [8]:
list(xrange(5))

[0, 1, 2, 3, 4]

In [9]:
np.array(xrange(5))

array([0, 1, 2, 3, 4])

In [14]:
pd.DataFrame(index = x)

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4]

In [20]:
X.as_matrix()

array([[ 1.,  0.,  1.],
       [ 2.,  0.,  1.],
       [ 3.,  0.,  1.],
       [ 4.,  0.,  1.]])

In [18]:
None + None

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [24]:
l = []
if not l:
    print 'noop'

noop

In [25]:
pd.get_dummies(X.a)

     1    2    3    4
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0

In [32]:
pd.concat((X, w), axis=1)

TypeError: cannot concatenate a non-NDFrame object

In [46]:
k = X['a'].as_matrix()
print np.unique(k)
for key,value in enumerate(np.unique(k)):
    print k[k == value]

[1 2 3 4]
[1]
[2]
[3]
[4]